@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	background-color: $blue;
	font: 500 16px $font;
	color: #c2c4f7;
	overflow: hidden;
}

.container {
	@include size(500px, 80vh);
	margin: 10vh auto;
	position: relative;

	&::before {
		@include size(700px);
		@include pos($l: 50%, $t: 50%);
		content: '';
		background-color: $pink;
		border-radius: 50%;
	}

	&::after {
		@include size(150px);
		@include pos($l: calc(50% + 190px), $t: 40%);
		content: '';
		background: rgb(123,138,245);
    	background: linear-gradient(180deg, rgba(123,138,245,1) 0%, rgba(75,88,234,1) 100%);
		border-radius: 50%;
	}
}

.wrapper {
	position: relative;
	z-index: 1;
	border: 15px solid $blue;
	background-color: $blue;
	border-top-width: 30px;
	border-bottom-width: 30px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(16, 16, 60, 1),
				inset 0 0 10px 0 rgba(16, 16, 60, .8);
}

h1 {
	font: 35px $title;
	text-decoration: underline;
	margin-bottom: 30px;
}